<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ministop">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Notification_Application"
        android:allowBackup="true"
        android:icon="@mipmap/telephone"
        android:label="Cấp cứu điện thoại"
        android:roundIcon="@mipmap/telephone"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ministop"
        android:usesCleartextTraffic="true">
        <activity android:name=".LocationActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".UserActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".NhanVienActivity" />
        <activity android:name=".TaskJobActivity" />
        <activity android:name=".FinishedFixingActivity" />
        <activity android:name=".HasTaskActivity" />
        <activity android:name=".HistoryTaskActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>